<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${title}</title>
<style type="text/css">
<!--
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background: #4E5869;
    margin: 0;
    padding: 0;
    color: #000;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}
a img { 
    border: none;
}
a:link {
    color:#414958;
    text-decoration: underline; 
}
a:visited {
    color: #4E5869;
    text-decoration: underline;
}
a:hover, a:active, a:focus { 
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1260px;
    min-width: 780px;
    background: #FFF;
    margin: 0 auto;
}

.header {
    background: #6F7D94;
}

.sidebar1 {
    float: left;
    width: 20%;
    background: #93A5C4;
    padding-bottom: 10px;
}
.content {
    padding: 55px 10px;
    width: 60%;
    float: left;
}
.sidebar2 {
    float: left;
    width: 20%;
    background: #93A5C4;
    padding: 10px 0;
}

.content ul, .content ol {
    padding: 0;
}

ul.nav {
    width: 100%;
    position: relative;
    list-style: none;
    list-style-type:none;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
ul.nav li {
    float: left;
}
ul.nav a, ul.nav a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    text-decoration: none;
    background: #8090AB;
    color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
    background: #6F7D94;
    color: #FFF;
}

.footer {
    padding: 10px 0;
    background: #6F7D94;
    position: relative;
    clear: both;
}

.fltrt {
    float: right;
    margin-left: 8px;
}
.fltlft {
    float: left;
    margin-right: 8px;
}
.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
-->
</style><!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]--></head>

<body>

<div class="container" style="height:100%">
  <div class="header"><a href="http://${hostname}/"><img src="http://${hostname}/icon.png" alt="Insert Logo Here" name="Insert_logo" width="70" height="68" id="Insert_logo" style=" display:block;" /></a>
      <ul class="nav" style="width:80%;background: #8090AB;position:absolute;">
          <li><a href="/upload">Upload</a></li>
          <li><a href="/register">Register</a></li>
          
          <li style="width:50%">
          <li style="float:right"><a href="/login">Login</a></li>
    </ul> 
    <!-- end .header -->
  </div>
  
  <div class="content" style="width:100%">
  ${content}
  <!-- end .content --></div>
  
  <div class="footer">
    <p></p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>